# Operadores
**Cursos de Udemy:** 
   * Python desde cero hasta analísis estadísticos con Pandas y Numpy.
   * Toma de decisión usando la tecnología disponible.

# En este apartado veremos los siguientes tipos de operadores.

    Aritméticos
    Relacionales o comparación
    Asignación
    Lógicos
    in (membresía)
    is (identidad)

# Aritméticos

In [ ]:
valor1=13
valor2=5

#suma
print('suma',valor1+valor2)

#resta
print('resta',valor1-valor2)

#multiplicación
print('producto',valor1*valor2)

#división
print('división',valor1/valor2)

In [ ]:
#division  redondea hacia abajo
print('división redondeo piso',valor1//valor2)

In [ ]:
print(valor1%valor2)

In [ ]:
#residuo de una division
valor1=15
valor2=7
print(valor1,'dividido', valor2, 'redondeado hacia abajo es', valor1//valor2, 
      '\nY', valor1,'menos (' ,valor2,'multiplicado', valor1//valor2,'),es el residuo:',valor1%valor2)

In [ ]:
#potencia
valor1=2
valor2=3
print(valor1,'elevado a',valor2,'es',valor1**valor2)

 # Comparación

In [ ]:
valor1=13
valor2=5

#igualdad
print('¿valor1 y valor2 son iguales?',valor1==valor2)

In [ ]:
#diferentes
print('¿valor1 y valor2 sson diferentes?',valor1!=valor2)

In [ ]:

#desigualdad

print('es valor1 > valor2',valor1>valor2)
print('es valor1 < valor2',valor1<valor2)
print('es valor1 >= valor2',valor1>=valor2)
print('es valor1 <= valor2',valor1<=valor2)

In [ ]:
cadena1="hola"
cadena2="hola"
#igualdad
print('¿cadena1 y cadena2 son iguales?',cadena1==cadena2)

#diferentes
print('¿cadena1 y cadena2 sson diferentes?',cadena1!=cadena2)

#desigualdad

print('es cadena1 > cadena2',cadena1>cadena2)
print('es cadena1 < cadena2',cadena1<cadena2)
print('es cadena1 >= cadena2',cadena1>=cadena2)
print('es cadena1 <= cadena2',cadena1<=cadena2)

# Asignación

In [ ]:
#Asigna un valor a una variable '=''.
nombre ='Giordano'
edad=51
lista=[1,2,3,4,5,6,7]

In [ ]:
#Asignar y contatenar(cadena) o sumar(numero) '+='
nombre='Giordano'
nombre  +=' Bruno' #como decir: nombre = nombre + ' Bruno'
print(nombre)

In [ ]:
numero= 12
print('antes de sumar:',numero)
numero+=13
print('después de sumar:',numero)

In [ ]:
diccionario={'limón':0, 'manzana':12,'guayaba':1}
print('antes de sumar limones:',diccionario)
diccionario['limón']+=101
print('antes de sumar limones:',diccionario)

In [ ]:
valor1=133 #establecemos un valor
print('valor original',valor1)

#le restamos 33 al valor
valor1-=33
print('restado 33:',valor1)

#le multiplicamos dos al valor que nos queds
valor1*=2
print('multiplicado 2:',valor1)

#le dividimos 100 al valor que nos queds
valor1/=100
print('dividido 100:',valor1)

#lo elevamos al cubo
valor1**=3
print('elevado al cubo:',valor1)

In [ ]:
#tarea para revisar 
valor1//=0.5
print(valor1)
valor1%=3
print(valor1)

# Lógicos

In [ ]:
#and Si y sólo si, todas las operaciones son True dará como resultado True.
print('True and True:',True and True)
print('True and False:',True and False)
print('False and False:',False and False)
print('False and True:',False and True)

In [ ]:
#Ejemplo de and
print('(2>1) and True:',(2>1) and True)
print('(2>1) and (3==3):',(2>1) and (3==3))

In [ ]:
#or Si cualquier operación es True el resultado será True. 
print('True or True:',True or True)
print('True or False:',True or False)
print('False or False:',False or False)
print('False or True:',False or True)

In [ ]:
#Ejemplo de or
print('(2>1) or false:',(2>1) or False)
print('(2>1) or (3>3):',(2>1) or (3>3))

In [ ]:
#not para la negación de la operación
print(not False)




# Membresía

In [ ]:
#in retorna True si un elemento se encuentra contenido dentro de otro.
lista=['perro','gato','conejo','mono']
print('gato' in lista)

In [ ]:
print('loro' in lista)

In [ ]:
#not in
print('caballo'not in lista)

# Identidad

In [1]:
var1 = 'Hola Mundo!' # Cadena
var2 = "Hola Mundo!"
print('==,',var1 == var2)
print('is,',var1 is var2)

==, True
is, False

In [2]:
var2=var1
print('is,',var1 is var2)

is, True