In [1]:
import pandas as [pd]
import numpy as np

In [5]:
diccionario = {'dias':['dia1','dia1','dia2','dia2','dia3'],'vendedores' : ['Jorge','Ignacio','Marta','Juan','Antonio'],
              'ventas':[100,400,200,500,300]}

In [6]:
dataframe = pd.DataFrame(diccionario)

In [7]:
dataframe

   dias vendedores  ventas
0  dia1      Jorge     100
1  dia1    Ignacio     400
2  dia2      Marta     200
3  dia2       Juan     500
4  dia3    Antonio     300

In [10]:
dataframe.groupby('dias').describe()

     ventas
      count   mean         std    min    25%    50%    75%    max
dias
dia1    2.0  250.0  212.132034  100.0  175.0  250.0  325.0  400.0
dia2    2.0  350.0  212.132034  200.0  275.0  350.0  425.0  500.0
dia3    1.0  300.0         NaN  300.0  300.0  300.0  300.0  300.0