In [1]:
#Pandas Operaciones

In [2]:
import numpy as np
import pandas as pd

In [4]:
diccionario = {'A':[11,12,13,12], 'B':[14,18,16,20]}

In [5]:
dataframe = pd.DataFrame(diccionario, index = ['i1', 'i2', 'i3', 'i4'])

In [6]:
dataframe

     A   B
i1  11  14
i2  12  18
i3  13  16
i4  12  20

In [8]:
dataframe['A'].unique()

array([11, 12, 13], dtype=int64)

In [9]:
dataframe['A'].nunique()

3

In [10]:
dataframe['A'].value_counts()

12    2
11    1
13    1
Name: A, dtype: int64

In [11]:
def multiplicar(x):
    return x*2

In [13]:
dataframe['A'].apply(multiplicar)

i1    22
i2    24
i3    26
i4    24
Name: A, dtype: int64

In [14]:
dataframe['A'].apply(lambda x: x*2)

i1    22
i2    24
i3    26
i4    24
Name: A, dtype: int64

In [15]:
dataframe.drop('B', axis=1)

     A
i1  11
i2  12
i3  13
i4  12

In [16]:
dataframe

     A   B
i1  11  14
i2  12  18
i3  13  16
i4  12  20

In [17]:
dataframe.columns

Index(['A', 'B'], dtype='object')

In [18]:
dataframe.index

Index(['i1', 'i2', 'i3', 'i4'], dtype='object')

In [19]:
dataframe.sort_values('B')

     A   B
i1  11  14
i3  13  16
i2  12  18
i4  12  20